@import "tailwindcss";

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #f9fafb;
  color: #111827;
}

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 150ms;
}